<!DOCTYPE html>
<html>
<head>
  <title>Sword</title>
  <%= stylesheet_link_tag    "sword/application", media: "all" %>
  <%= javascript_include_tag "sword/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
